.app-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.search-form {
  margin-bottom: 20px;
  margin-top: 20px; /* Add some top margin */
}

.search-form label {
  display: block;
  margin-bottom: 8px;
}

.search-form input {
  width: 100%;
  padding: 10px;
  font-size: 16px; /* Adjust font size */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
